@page


<div class="mx-auto" style="width: 200px;">
<table class="table table-striped">
        <tr>
        <th  class="text-center">ADMIN ONLY</th>
    </tr>
    <tr>
        <td class="text-center"><a href="../AccountManagement/AccountManagement">ACCOUNT MANAGEMENT</a></td>
    </tr>
    </table>
        <div class=text-center>
            <a class="btn btn-primary" href="../Staff/Staff">   Go Back   </a>
    </div>
</div>