@page


<div class="mx-auto" style="width: 200px;">
<table class="table table-striped">
        <tr>
        <th colspan="2" class="text-center">Create</th>
    </tr>
    <tr>
        <td class = "text-center"><a href="../Create/CreateMovie">Movie</a></td>
        <td class = "text-center"><a href="../Create/CreateShowing">Showing</a></td>
    </tr>
     <tr>
        <td class = "text-center"><a href="../Create/CreateActor">Actor</a></td>
        <td class = "text-center"><a href="../Create/CreateDirector">Director</a></td>
    </tr>
    <tr>
        <td class = "text-center" colspan="2"><a href="../Create/CreateBuilding">Building</a></td>
    </tr>
    </table>
        <div class=text-center>
            <a class="btn btn-primary" href="../Staff/Staff">   Go Back   </a>
    </div>
</div>