@page


<div class="mx-auto" style="width: 200px;">
<table class="table table-striped">
        <tr>
        <th colspan="2" class="text-center">Manage</th>
    </tr>
    <tr>
        <td class="text-center"><a href="../Remove/RemoveBookingStaff">Bookings</a></td>
        <td class="text-center"><a href="/Remove/RemoveShowing">Showings</a></td>
    </tr>
    <tr>
        <td class="text-center" colspan="2"><a href="/Remove/RemoveMovie">Movies</a></td>
    </tr>
    </table>
        <div class=text-center>
            <a class="btn btn-primary" href="../Staff/Staff">   Go Back   </a>
    </div>
</div>