@page

@model WebApp.Pages.LogoutModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using UWS.CinemaTicketBookingSystem;


<div class="row">
    <h1 class="display-3">Logging out...</h1>
</div>