@page

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using UWS.CinemaTicketBookingSystem;


<div class="list-group w-100">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Question 1</h5>
      </div>
      <p class="mb-1">
        Integer ac dolor et lacus ultricies dictum.
      </p>
  </div>

  <hr class="solid">


  <div class="list-group w-100">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Question 2</h5>
      </div>
      <p class="mb-1">
        Integer ac dolor et lacus ultricies dictum.
      </p>
  </div>

<hr class="solid">

  <div class="list-group w-100">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Question 3</h5>
      </div>
      <p class="mb-1">
        Integer ac dolor et lacus ultricies dictum.
      </p>
  </div>