@page

@model WebApp.Pages.CreateActorModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using UWS.CinemaTicketBookingSystem;


<div class="row">
    <h1 class="display-3">Create Actor</h1>
</div>
<div class="card">
    <p>Actor Name:</p>
    <form method="POST" id="postact">
        <div>
            <input asp-for="Actor.ActorName" required />
        </div>
        <br />

        <input type="submit" class="btn btn-success mx-1" /><a class="btn btn-primary" href="../Staff/Create">   Go Back   </a>
         @if(Model.PostResult == "added"){
            <p class="text-success">Added Successfully</p>
            }
            else if(Model.PostResult == "invalid"){<p class="text-danger">Invalid Submission</p>}
    </form>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
   <tbody>
       @* iterate over the ilist of actors *@
        @foreach(Actor act in Model.Actors)
        {
            <tr>
                <td>@act.ActorID</td>
                <td>@act.ActorName</td>
            </tr>
        }
        </table>
</div>
