@page
@model WebApp.Pages.ShowingModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using UWS.CinemaTicketBookingSystem;

<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <p>@foreach(Showing m in Model.Showings)
        {
            @m.ShowingID<br>
        }
        </p>
    </body>
</html>